.progress {
    /* background-color: green; */
    width: 400px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.endClass {
    height: 100vh;
    background-color: red;
    animation: strobe 0.1s infinite;
}

.barText {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
}

body>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
}

button {
    margin: 10px;
}

i {
    transform: scale(1.6);
}

section {
    display: flex;
    justify-content: center;
}

.playerDivs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

@keyframes strobe {
    from {
        background-color: white;
    }
    to {
        background-color: red;
    }
}